<% provide(:title, @title) %>
<h1><%= @title %></h1>
<main>
  <div id="app">
    <section>
      <base-component v-bind:project="project"></base-component>
    </section>

    <section>
      <work-hours-component v-bind:work_hours="work_hours"></work-hours-component>
    </section>
  </div>
</main>
<script type="text/javascript" src="/javascripts/projects.bundle.js"></script>
