<% provide(:title, @title) %>

<h1><%= @title %></h1>
<main>

  <section class="project_hours">
    <table>
      <thead>
        <%
          @view_bug[]
        %>

      </thead>

      <tbody>

      </tbody>
    </table>
  </section>
</main>
