<% provide(:title, @title) %>
<h1><%= @title %></h1>
<main>
  <div id="vue-app">
    <section>
      <project-component></project-component>
    </section>
  </div>
</main>
<script type="text/javascript" src="/javascripts/projects.bundle.js"></script>
