<% provide(:title, @view_model.title) %>
<h1><%= @view_model.title %></h1>

<section>
  <%= form_tag({controller: "import_csvs", action: "import"}, method: :post , multipart: true) do %>
  <div>
    <%= file_field_tag 'workers' %>
    <%= submit_tag 'アップロード' %>
  </div>
  <% end %>
</section>

