<header>
  <div class="app-header">
    <div class="app-menu">
      <ul>
        <li><a href="/projects">プロジェクト管理</a></li>
        <li><a href="/orders">受注管理</a></li>
        <li><a href="/sales">売上管理</a></li>
        <li><a href="/workers">社員管理</a></li>
        <li><a href="/import_csvs">CSV取り込み</a></li>
      </ul>
    </div>
  </div>
</header>