<% provide(:title, "CSVファイル取り込み") %>
<h1>

</h1>
<section>
  <div>
    <%= form_tag({action: :upload}, multipart: true) do %>
        <%= file_field_tag 'picture' %>
    <% end %>
  </div>
</section>

