<% provide(:title, @title) %>

<h1><%= @title %></h1>
<main>
  <section>
    <ul>
      <li>
        <a href="/projects">プロジェクト一覧</a>
      </li>
      <li>
        <a href="/orders">受注一覧</a>
      </li>
      <li>
        <a href="/import_csvs">CSVファイル取り込み</a>
      </li>
      <li>
        <a href="/sales">売上情報</a>
      </li>
    </ul>
  </section>
</main>